<footer>
    <table style="width: 100%;">
        <tr>
            <th>
                <img class="FooterIcon" src="/assets/Images/gh.svg">
                <a class="FooterText" href="https://github.com/fred441a">Github</a>
            </th>
            <th>
                <img class="FooterIcon" src="/assets/Images/in.svg">
                <a class="FooterText" href="https://www.linkedin.com/in/frederik-s-hansen/">Linkedin</a>
            </th>
            <th>
                <img class="FooterIcon" src="/assets/Images/fb.svg">
                <a class="FooterText" href="https://www.facebook.com/frederik.hansen.773981/">Facebook</a>
            </th>
            <th>
                <img class="FooterIcon" src="/assets/Images/yt.svg">
                <a class="FooterText" href="https://www.youtube.com/channel/UCTpBW6hf34C6dyzSxmHBo6Q">youtube</a>
            </th>
            <th>
                <img class="FooterIcon" src="/assets/Images/ml.svg">
                <a class="FooterText" href="MailTo:frederik@altofte.dk">Mail</a>
            </th>
        </tr>
        </tr>

    </table>

</footer>