<link rel="stylesheet" href="/assets/Style/Style.css">
<title> {{site.title}} </title>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/Images/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/Images/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/Images/Favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/Images/Favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/Images/Favicon/safari-pinned-tab.svg" color="#6e7071">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
