<!DOCTYPE html>
<html style="height: 95%;">

<head>
  {% include Head.html %}
</head>

<body>
  <div style="flex: 1 0 auto;">
    <h1 class="Title">{{site.title}}</h1>
    <div class="Center">
      <img class="Thats_me" src="/assets/Images/Thats_me.svg">
      <a class="FaceDiv" href="/about.html">
        <img class="MyFace" src="/assets/Images/Face.jpg">
        <img class="DealWithIt" src="/assets/Images/DealWithItSunGlasses.png">
      </a>
    </div>


    <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
      {%- for post in site.Projects -%}
      <a href="{{post.url}}" class="grow">
        <div class="homePostDiv">

          {%- if post.image -%}

          <img class="DivPostImage" src="{{post.image}}">

          {%- endif -%}
          <div class="homeposttextdiv">
            <h2 class="homePostTitle"> {{ post.title }} </h2>
            <p class="PostDescription"> {{post.excerpt}}</p>
          </div>
        </div>
        {%- endfor -%}
    </div>


    </a>

  </div>
  {% include Footer.html %}
</body>

</html>